# 忽略指定文件
Note for Functional Analysis.aux
Note for Functional Analysis.bcf
Note for Functional Analysis.log
Note for Functional Analysis.toc
Note for Functional Analysis.out
Note for Functional Analysis.synctex.gz
Note for Functional Analysis.run.xml
.DS_Store